@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');



:root {
  --cade-bg-color: #0c0a20;
  --table-bg-color: #323232;
  --description-keyword-color: #f1c40f;
  --comands-variable-color: #7bed9f;
  --table-border-color: grey;
}

html {
  color-scheme: dark;
}

body {
  color: #eee;
  font-size: 1.125rem;
  font-family: system-ui;
  line-height: 1.5;
}

.wrapper {
  width: max(900px, 100% - 3rem);
  margin-inline: auto;
}

table {
  width: 100%;
  background-color: var(--table-bg-color);
  border-collapse: collapse;
  text-align: left;

}

th, td, caption {
  padding: 1rem;
  border: 1px solid var(--table-border-color);

}

span:not(.code) {
  color: var(--comands-variable-color);
}



caption, th {
  text-align: left;
}

caption {
  background: hsl(0 0% 0%);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

th {
  background: hsl(0 0% 0% / 0.5);
}

tr:nth-of-type(2n) {
  background: hsl(0 0% 0% / 0.1);
}

td.commads {
  white-space: unset;
  padding-top: 46px;
  min-width: 200px;
  position: relative;
}

td.commads .keyword {
  position: absolute;
  padding: 4px;
  top: 5px;
  right: 10px;
  background-color: hsl(136.16deg 83.5% 41%);
  color: #000;
  border-bottom: 1px solid #268333;
  border-radius: 6px 6px 0 0;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 1px;
  min-width: 50px;
  color: #111;
  font-size: calc(14px + 0.53);
  text-align: center;
  box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}


td.example {
  min-width: 300px;

}

td.desc {
  min-width: 250px;
}

td.desc span {
  color: var(--description-keyword-color);
}

code {
  background-color: var(--cade-bg-color);
  padding: 6px 3px;
  font-family: 'Consolas', sans-serif;
  font-weight: 300;
  white-space: pre-line;
  display: block;
  border-radius: 6px;
  position: relative;
  line-height: 1.6;
  padding-left: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}