* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgb(55, 55, 55);
	background: linear-gradient(115deg, rgba(55, 55, 55, 1) 47%, rgba(10, 124, 147, 1) 48%);
	color: rgb(60, 200, 200);
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
	width: 500px;
	height: 350px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

input {
	width: 100%;
	padding: 15px;
	border: none;
	margin: 10px 0;
	background-color: #2E2E2E;
	box-shadow: inset 0px 0px 6px 0px #000;
	border-radius: 8px;
	color: white;
}

input:focus {
	outline: none;
}

.form-field, .form-actions {
	width: 80%;
	padding: 10px;
}

.form-field label {
	text-transform: uppercase;
	font-variant: 2px;
}

.form-actions button {
	width: 80%;
	padding: 10px;
	text-transform: uppercase;
	color: #111;
	border: none;
	border-radius: 8px;
	margin: 0 auto;
	display: block;
	font-weight: 800;
	box-shadow: inset 0px 0px 6px 0px #000;
	transition: 0.5s
}

.form-actions button:hover {
	box-shadow: inset 0px 0px 15px 3px rgb(3, 46, 7);
	transition: 0.5s;
}

h1.fine, h1.bad {
	color: greenyellow;
	width: 500px;
	padding: 8px;
	text-align: center;
	margin: 35px 0;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

h1.bad {
	color: rgb(250, 127, 27);
	box-shadow:  rgb(250, 79, 27) 0px 14px 28px, rgba(131, 3, 3, 0.582) 1px 10px 10px;
}

.form-header::before {
	content: "REGISTER";
	position: absolute;
	font-size: 12em;
	letter-spacing: 10px;
	opacity: 0.3;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	color: grey;
	text-shadow: 1px 1px 5px #111;
	animation: anima 2s linear 1s infinite alternate both;
}

@keyframes anima {
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 0.5;
	}
}
a {
	text-decoration: none;
}