
<div class="form-header">
	{{#if isValid }}
	<h1 class="fine">{{message}}</h1>
	{{else}}
	<h1 class="bad">{{message}}</h1>
	{{/if}}
</div>


<form method="post" action="/contact" novalidate id="myForm">
<div class="form-field">
	<label for="email">Email</label>
	<input class="input" id="email" name="email" type="email" value="example@mail.ru" required/>
</div>
	<div class="form-field">
		<label for="message">Password</label>
		<input class="input"  type="password" name="password" value="abcd1234" required/>
	</div>
	
	<div class="form-actions">
		<button class="btn" type="submit" >Register</button>
	</div>
</form>