<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
			<h1>my form </h1>
			<%- include form.ejs %>
  </body>
</html>
