<div class="main__form" autocomplete="off">
	<h1>Sign In</h1>
	<form action="/create" method="POST" id="mainForm">
		<input type="text" name="name" placeholder="Enter name">
		<span id="name"></span>
		<input type="text" name="surname" placeholder="Enter surname">
		<span id="surname"></span>
		<input type="text" name="age" placeholder="Enter age">
		<span id="age"></span>
		<input type="email" name="email" placeholder="Enter email">
		<span id="email"></span>
		<input type="submit" value="add User" >
	</form>
	<span id="special">Or with Social Profile</span>
		<div class="aBloc">
			<h4><a href="/users">View all users</a></h4>
		</div>
</div>