doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.powerful 
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
      a(href='#') this is text
      p Sdsad asda lorem20  
        ul
          li First1
          li First2
          li First3